services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: api-go-arquitetura
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
      - MONGO_URI=mongodb://172.26.123.157:27017
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge
